<div class="main-container">


  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" class="sideNav">
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        Company
        <clr-vertical-nav-group-children>

          <a clrVerticalNavLink routerLink="./companies" routerLinkActive="active">
            All Companies
          </a>

        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>


    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
